
<div class="container">


<% @notifications.each do |n| %>
  <%= link_to n.comment.user.user_name , "/"+n.comment.user.user_name %>
  commnted on
  <% if n.comment.parent %>
    <em>
     <%=link_to truncate(n.comment.parent.content ,length:40), post_path(n.comment.root.post,:anchor=> "#{n.comment.parent.id}") %>
    </em>
  <% else %>
    <em>
      <%=link_to truncate(n.comment.post.title ,length:40) ,post_path(n.comment.post , :anchor=> "#{n.comment.id}")  %>

    </em>
  <% end %>
  <br/>
  <%= n.comment.content %>

  <hr/>
<% end %>
<%= paginate(@notifications)%>
</div>



