!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dumblog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag :defaults

  %body
    %p.notice= notice
    %p.alert= alert
    -if user_signed_in?
      =link_to "new post",new_post_path 
      |
      =link_to "sign out",destroy_user_session_path ,:method=> :delete
      |
      =link_to "settings", '/settings' , :method=> :get
    -else
      =link_to "log in" , new_user_session_path  
      |
      =link_to "sign Up" , new_user_registration_path
    %br
    = yield
