<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Dumblog</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>



 <nav class="mynavbar">
        <div class="brandname">
            HAKRlog
        </div>

<div class="dropdown loginbutton">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><% if user_signed_in? %> <%= current_user.user_name %> <% else %>Log In<% end %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <% if user_signed_in? %>
        <li><%= link_to "New post",new_post_path  %></li>



         <li><%= link_to "settings", settings_path, :method=> :get %> </li>

          <li role="presentation"><a href="/threads">Threads <span class="badge"><%= current_user.notifications.where(read: false).count%></span></a></li>

         <li><%= link_to "Sign out",destroy_user_session_path ,:method=> :delete %></li>
      <% else %>
         <li><%= link_to "login" , new_user_session_path   %> </li>

         <li><%= link_to "Signup" , new_user_registration_path %> </li>
      <% end %>
          </ul>
        </div>
    </nav>



    <% if notice %>
      <p class="alert alert-success">
        <%= notice %>
      </p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger">
        <%= alert %>
      </p>


      <% end %>
      <%= yield %>


      <footer class="webfoot">
      <p>about | privacy policy  | FAQ |  Support | Feedback | Made with love by @pvsukale </p>

      </footer>

  </body>
  <script>$(document).on('turbolinks:load', function() {
   console.log('(document).turbolinks:load')
});</script>
</html>
